.course-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 450px;
  width: 95vw;
  position: relative;
}

.course {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
  animation: zigzag 12s linear infinite;
}

@keyframes zigzag {
  0% {
    transform: translateX(100vw) translateY(0);
  }
  25% {
    transform: translateX(50vw) translateY(-30px);
  }
  50% {
    transform: translateX(0vw) translateY(30px);
  }
  75% {
    transform: translateX(-50vw) translateY(-30px);
  }
  100% {
    transform: translateX(-100vw) translateY(0);
  }
}

.course:nth-child(1) {
  animation-delay: 0s;
}

.course:nth-child(2) {
  animation-delay: -2s;
}

.course:nth-child(3) {
  animation-delay: -4s;
}

.course:nth-child(4) {
  animation-delay: -6s;
}

.course:nth-child(5) {
  animation-delay: -8s;
}

.course:nth-child(6) {
  animation-delay: -10s;
}

.course:nth-child(7) {
  animation-delay: -12s; /* Adjust to keep the rhythm */
}

.course:nth-child(8) {
  animation-delay: -14s; /* Adjust to keep the rhythm */
}
