.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
}

.slider .list {
  display: flex;
  gap: 20px;
  position: relative;
  animation: autoRun 10s linear infinite;
  width: calc(30% + 20px * 4);
}

.slider .list .item {
  height: var(--height);
  width: var(--width);
  flex-shrink: 0;
  position: relative;
}

.slider .list .item img {
  height: var(--height);
  width: 60%;
  opacity: 80%;
}

.slider .list .item .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  background: #5c53fe;
  color: white;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider .list .item:hover .title {
  opacity: 1;
}

.slider:hover .list {
  /* animation-play-state: paused; */
}

@keyframes autoRun {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
